.container-fluid {
    min-height: 80%;
}
.glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}
.panel-default>.panel-heading {
    border-bottom-width: 0;
}
#usersSearchText {
    width: 70%;
    float: right;
}