<div class="container-fluid col-sm-12 view-container" ng-controller="messagesController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Last messages</strong>
        </div>
        <div class="panel-body" id="chat" style="max-height: 65%; min-height: 65%; overflow-y: auto;">
            <div class="chat-message">
                <ul class="chat" style="padding: 0; list-style-type: none" ng-repeat="message in messageList">
                    <li ng-class="['clearfix', message.alignment]">
                        <a href="#" id="conversation" title="Send message">
                            <span ng-class="['chat-img', 'pull-' + message.alignment]">
                            <ng-letter-avatar charCount="2" data={{message.avatar}} shape="round"></ng-letter-avatar>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.sender.getName()}} to
                                        {{message.recipient.getName()}}</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{message.date | date:"dd.MM.yyyy"}} <!-- TODO: Implement date for yesterday / time for today filter -->
                                    </small>
                                </div>
                                <div class="last-message text-muted">{{message.body}}</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var obj = $('.panel-body');
    var t = obj.val();
    if (obj.length) {
        //To put cursor at the end
        obj.focus().val(obj.val());
        //To scroll the textarea
        obj.scrollTop(obj.height());
    }
</script>