<div class="container-fluid col-sm-12 view-container" ng-controller="profileController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{profile.getName()}}</strong>
        </div>
        <table class="table table-hover">
            <colgroup>
                <col class="col-md-4">
                <col class="col-md-8">
            </colgroup>
            <tr>
                <td>First name:</td>
                <td>{{profile.first_name}}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{profile.last_name}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{profile.email}}</td><!--TODO Add profile information visibility filter-->
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{profile.phone}}</td><!--TODO Add profile information visibility filter-->
            </tr>
            <tr>
                <td>Sex:</td>
                <td>{{profile.getSex()}}</td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>{{profile.birth_date | date:"dd.MM.yyyy"}}</td>
            </tr>
            <tr>
                <td>Registered at:</td>
                <td>{{profile.reg_date | date:"dd.MM.yyyy"}}</td>
            </tr>
        </table>
    </div>
</div>