<div class="container-fluid col-sm-12" ng-controller="usersController">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <div class="pull-left" style="padding-top: 7px;">
                <strong>
                    Users
                </strong>
            </div>
            <div class="input-group input-group-sm">
                <input type="text" ng-model="usersSearchText" id="usersSearchText" class="form-control"
                       placeholder="Search..."
                       value='{{searchText}}' onchange="searchFriend('users')">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="searchFriend('users')">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
            </div>
        </div>
        <form action="/main" method="get" id="userList" role="form">
            <table class="table table-hover">
                <tr ng-repeat="userProfile in userList | filter : usersSearchText">
                    <!--TODO Add filter userProfile.id != userId-->
                    <td class="col-md-5">
                        <a href="#" id="profile" title="View profile">
                            {{userProfile.getName()}}
                        </a>
                    <td>
                    <td class="col-md-3">
                        <span ng-show="userProfile.isFriend">{{userProfile.email}}</span>
                    <td>
                    <td class="col-md-2" style="margin-left: 10px">
                        <a href="#" id="conversation" title="Send message">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        <a href="#"
                           ng-class="[userProfile.isFriend ? '' : 'disabled']"
                           title="Remove from friends" onclick="removeFriend(userProfile.id)">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </a>
                        <a href="#"
                           ng-class="[userProfile.isFriend ? 'disabled' : '']"
                           title="Add friend" onclick="addFriend(userProfile.id)">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--TODO Add pagination-->
    <!--<div class="container-fluid col-sm-12" align="center">-->
    <!--<ul class="pagination">-->
    <!--<c:forEach var="userPage" begin="1" end="${numberOfUserPages}">-->
    <!--<li<c:if test="${currentUserPage==userPage}"> class="active"</c:if>>-->
    <!--<a href="users?userPage=${userPage}">${userPage}</a>-->
    <!--</li>-->
    <!--</c:forEach>-->
    <!--</ul>-->
    <!--</div>-->
</div>
