<div class="container-fluid col-sm-12 view-container" ng-controller="usersController">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <div class="pull-left" style="padding-top: 7px;">
                <strong>
                    Users
                </strong>
            </div>
            <div class="input-group input-group-sm">
                <input type="text" ng-model="userSearch" id="userSearch" class="form-control" placeholder="Search..." value='{{searchText}}'">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
            </div>
        </div>
        <table class="table table-hover">
            <tr ng-repeat="userProfile in userList | orderBy: '[first_name, last_name]' | filter : userSearch | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <td class="col-md-5">
                    <a href="#profile/{{userProfile.id}}" id="profile" title="View profile">
                        {{userProfile.getName()}}
                    </a>
                </td>
                <td class="col-md-3">
                    <span ng-show="userProfile.hasFriend(account.id)">{{userProfile.email}}</span>
                </td>
                <td class="col-md-1">
                    <a href="#" id="conversation" title="Send message">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                    <a href="#"
                       ng-class="userProfile == account ? 'link-disabled' : ''"
                       ng-show="account.hasFriend(userProfile.id)"
                       title="Remove from friends" onclick="removeFriend(userProfile.id)">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                    <a href="#"
                       ng-class="userProfile == account ? 'link-disabled' : ''"
                       ng-show="!account.hasFriend(userProfile.id)"
                       title="Add friend" onclick="addFriend(userProfile.id)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div align="center">
        <ul uib-pagination ng-model="currentPage" total-items="totalItems" page="currentPage" max-size="noOfPages"
            items-per-page="entryLimit" first-text="&laquo;" last-text="&raquo;" direction-links="false"
            boundary-links="true"></ul>
    </div>
</div>
