<!doctype html>
<html ng-app="benchmates">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>BenthMates</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="css/app.css"/>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/ngletteravatar.min.js"></script>
    <script src="js/showErrors.min.js"></script>
</head>
<body id="body">
<div class="container" id="maincont" ng-controller="tabController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Benchmates</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="onClickTab('settings')"><a href="#"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row content">
        <div class="col-sm-2">
            <div class="well">
                <img class="img-rounded img-responsive center-block" alt="user_pic" src="/img/deactivated_200.gif">
            </div>
            <div class="well" id="tabs">
                <!--<form action="/logout" method="get">-->
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.name)}" ng-click="onClickTab(tab.name)">
                        <a href="#">{{tab.title}}</a>
                    </li>
                </ul>
                <!--</form>-->
            </div>
        </div>
        <div class="col-sm-10">
            <div class="tab-content">
                <profile ng-show="showTab('profile')"></profile>
                <friends ng-show="showTab('friends')"></friends>
                <users ng-show="showTab('users')"></users>
                <conversation ng-show="showTab('conversation')"></conversation>
                <messages ng-show="showTab('messages')"></messages>
                <settings ng-show="showTab('settings')"></settings>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-footer">
        </div>
    </div>
</div>

</body>
</html>